<style>
  .top-bar {
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 2px 10px 2px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;
  }

  .title {
    font-size: 36px;
    font-weight: normal;
    color: rgb(15, 15, 15);
    padding: 5px;
  }

  .subitem {
    font-size: 20px;
    font-weight: normal;
    color: rgb(15, 15, 15);
    padding: 5px;
  }

  .search-bar {
    position: absolute;
    right: 5px;
    top: 25%;
  }

  a {
    text-decoration: none
  }
</style>

<!--The content below is only a placeholder and can be replaced.-->
<div class="top-bar form-inline">
  <a class="title" href="#">{{ title }}</a>
  <a class="subitem" href="add">Add</a>
  <div class="search-bar">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]='search'>
  </div>
</div>
<router-outlet></router-outlet>
<app-dialog></app-dialog>